<%= turbo_stream.replace "notice" do %>
  <div id="notice">
  <% if flash[:notice] %>
    <div class="bg-green-100 text-green-700 p-4 mb-4 rounded-lg">
    <p><%= flash[:notice] %></p>
    </div>
  <% end %>
  </div>
<% end %>

<%= turbo_stream.replace "lgtm_tweet" do %>
  <%= render partial: "lgtm_tweet", locals: { lgtm: @lgtm } %>
<% end %>

